.login-container {
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;

    h2 {
        text-align: center;
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 95%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

button {
    width: 100%;
    padding: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.disabled-btn {
    background-color: gray !important;
    cursor: auto;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 12px;
}